@charset "UTF-8";
/* CSS Document */
body {margin:0;
background-color:black;
}
/* Background Images */
.container {
background-image: url('../images/home_splash.png');
background-repeat: no-repeat;
background-size: cover;


}

.containerwomen {
  background-image:url(../images/ThirdEyeLogoWomens-05.png);
  background-repeat: repeat-y;
  background-size:cover;

}
.containerAbout {
background-image:url('../images/yoga5.png');
background-repeat:no-repeat;
background-size:contain;
position:relative;
height:700px;
}

/* Nav Menu */
nav {width:100%;
z-index:100;
font-size:2em;} 
	/*menu color*/
  
  a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #00fff5;
  text-decoration: none;
}

/* mouse over link */
 a:hover {
  color: #00fff5;
  text-decoration: none;
}

/* selected link */
 a:active {
  color: #00fff5;
  text-decoration: none;
} 
	
	/*menu bar height*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 3% 0 3% 8%;
  overflow: hidden;
  background-color: #000;
 
  font-family:raleway;
}

nav li {
  float: left;
  width:20%;
}

l nav i a {
  display: block;
  color: white;
	vertical-align:center;
  text-align: center;
  padding: 50px 0px 0px 100px;
  margin-left:100px;
  text-decoration: none;
  font-family:raleway;
  Font-size:20pt;
}

li a:hover {
  background-color: #000;
	color:000ff5;
}
/* images */
img {width:100%;
		margin-top:px;}

  img .about {width:contain;
    }
    img .thumb {
      margin: 0 auto 0 auto;
      width:80%;
    }

    /* buttons */
.malebuttons {
z-index:200;
height:20px;
  width:40%;
  float:left;
  margin-left:30px;
            
  }
 .femalebuttons {
   z-index:200;
    height:20px;
    width:40%;
    float:right;
    margin-right:30px;
        }
.containers_buttons {
  padding :23% 0;
  margin:0 auto;
  width:50%;
}

/* footer */

footer {
  background-color:black;
  padding:20px 10px 0 40px;
  font-family:raleway;
  
}

footer .col {
  width:20%;
  float:left;
  font-size:1.3em;
  font-family:raleway;
  color:white;
  text-align:left;
  
}

footer ul {list-style:none;
padding:0;}

footer img {width:50px;
height:auto;
float:left;}

p {font-family:raleway;
  color:white;
  z-index: 200;
  
  
}

/* Design Elements */
.greySquare {float:right;
width:400px;
height: 400px;
padding:30px;
background-color: #080808;
    opacity: .5;
  margin:70px;
}
.whiterectanglelong {
  width: 14%;
    /* float: right; */
    background-color: white;
    height: 650px;
    /* margin: 0 10% 0 85%; */
}

.greyRectangle {
  width:60%;
  float:right;
  background-color:#a3a3a3;
  height:650px;
}
.whiteRectangle {
  width: 40%;
  background-color: white;
  height: 650px;
  
}


/* text */
.paratext {

  margin: 0 auto;
  /* margin-bottom: 300px; */
/* text-align: left; */
}

.paratext h3 {
  font-family:raleway;
  color:white;
  text-align:center;
}

.paratext p {
  line-height:1.5;
}

.paratext .dash {
  text-align:center;
  font-weight:bold;
}
.paratext .black {
  color:black;
}


.paratext2 h2 {
  font-family:raleway;
  color:black;
  text-align:center;
}

.paratext2 p{
  font-family: raleway;
    color: black;
    text-align: left;
    padding: 0px 45px;
    line-height: 2em;
    font-size: 15pt;
}
.paratext2 {
  padding: 11% 0px;
  margin: 0 auto;

}
/* forms */
.formdesign {
  font-family:raleway;
  color:white;
  padding:5em;
  width:500px;
  line-height:1.8em;
  margin: 0 auto 0 auto;
  
}

.formdesign input {
  margin-bottom: 9px;
  width:93.5%;
  height:2em;
  border-width:0px;
  /* line-height:3em; */
  -moz-box-shadow:    1px 1px 1px 1px #646464;
  -webkit-box-shadow: 1px 1px 1px 1px #646464;
  box-shadow:         1px 1px 1px 1px #646464;
}

input.city {
width:20%;
/* line-height:2em; */
}

input.state {
  width:20%;
}
input.zip{
  width:20%;
}
.formdesign textarea {
  width: 93.5%;
  height:20em;
  border-width:0px;
  -moz-box-shadow:    1px 1px 1px 1px #646464;
  -webkit-box-shadow: 1px 1px 1px 1px #646464;
  box-shadow:         1px 1px 1px 1px #646464;
  }

  .formdesign text{
    line-height:1.5em;
  }

  .centerdiv {
    display:flex;
    background-color:none;
    }